
p{
    color:blueviolet;
    width: 300px;
}

/**
Esto es un comentario dentro de un documento de CSS
*/

/**
orden para declarar los padding y margin:
top - arriba
right - derecha
button - abajo 
left - izquierda
*/
h1{
    border: 1px solid black;
    /**padding: 5px; */
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 20px;
    padding-left: 25px;
    /**padding: 20px 25px 45px 20px;  */
    margin-top: 40px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;

    font-weight: bold;
    color: gray;
}

section{
    width: 300px;
    border: 15px solid green;
    padding: 50px;
    margin: 20px;
}