/**selector universal*/

*{
    color: blue;
    font-family:'Roboto', sans-serif;;
}
/**las p y las span*/
p, span{
    color: red;
    width: 300px;
}

#mi_id{
    color: yellow;
    font-size: 23px;
    border: 1px solid orange;
}

.estaesmiclase{
    font-weight: bold;
    color: lightskyblue;
}

/**los h1 dentro de un section*/
section h1 {
    font-size: 50px;
}

