body{
    font-family: Roboto;
    text-align: center;
    background: paleturquoise;
}

#photo{
    float: center;
}

#fondo-card{
    float: none;
}

footer{

    background-color: #bb868c;
    display: block;

}