*{
    
}

#body{
    font-family: Roboto;
    background: white;
    height: 842px;
    /*width: 595px; /* to centre page on screen*/ 
    margin-left: auto; 
    margin-right: auto;
    background-image: url(https://images.pexels.com/photos/1831234/pexels-photo-1831234.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
}

.barra-izq{
    width: 300px;
    height: 1000px;
    float: left;
    background: #f0bfc5;
}

#photo{
    float: center;
}



nav {
    float: left;
    width: 30%;
    height: 300px; /* only for demonstration, should be removed */
    background: #ccc;
    padding: 20px;
  }

footer{

    background-color: #bb868c;
    display: block;

}